<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <ul>
        {% for dict in states_city|sort(attribute="name") %}
            <li>{{ dict.id }}: <B>{{ dict.name }}</B>
                <ul>
                    {% for valor in states_city[dict] %}
                    <li>{{ valor.id }}: <B>{{ valor.name }}</B></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </BODY>
</HTML>
