<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if not key_id %}
            <H1>States</H1>
            <ul>
            {% for dict in sta.values()|sort(attribute="name") %}
                <li>{{ dict.id }}: <B>{{ dict.name }}</B></li>
            {% endfor %}
            </ul>
        {% elif key_id in sta %}
            {% set sta = sta[key_id] %}
            <H1>States: {{ sta.name }}</H1>
            <h3>Cities:</h3>
            <ul>
            {% for city in sta.cities|sort(attribute="name") %}
                <li>{{ city.id }}: <B>{{ city.name }}</B></li>
            {% endfor %}
            </ul>
        {% else %}
            <H1>Not found!</H1>
        {% endif %}
    </BODY>
</HTML>
